<div class="container">
    <div class="main-logo">
        <img src="../../assets/rectangle.png" alt="error">
    </div>
    <div class="buttons">
        <ul class="nav-btn">
            <li (click)="gotoHome()"><img src="../../assets/home_menu.png">Home</li>
            <li (click)=" gotoCollection() ">
                <img src="../../assets/collections.png">Collections
            </li>
            <li (click)=" gotoRecovery() ">
                <a routerlink="recovery">
                    <img src="../../assets/recovery.png">Recovery
                </a>
            </li>
            <li (click)="gotoCampaign()"><img src="../../assets/marketing.png">Campaign</li>
            <li (click)="gotoHome()"><img src="../../assets/product.png">Product</li>
            <li (click)="gotoHome()"><img src="../../assets/queries.png">Queries</li>
            <li (click)="gotoHome()"><img src="../../assets/userManager.png">User Manager</li>
        </ul>
    </div>
</div>