<div class="settlement-card">
    <div class="settle-head">
        <img src="../../assets/info-d.png" class="info-icn" alt="error">
        <p class="settle-text">Settlement Offers</p>
        
        <div class="clear"></div>
    </div>
    <div class="lower-main">
        <p class="details" (click)="gotoSettlementTable()"> View Deatils <img class="detail-icon" src="../../assets/info-d.png" alt="error"></p>
        <div class="clear"></div>
        <div class="lower-main2">
            <div class="settlement-block first">
                <div class="upper-detail">
                    <img class="settle-pic" src="../../assets/ionic-md-rocket.png" alt="error">
                    <p class="amount">3.37 Lac</p>
                </div>
                <div class="btn">
                    <button class="settlement-btn">Offers Raised</button>
                </div>
            </div>
            <div class="settlement-block second">
                <div class="upper-detail">
                    <img class="settle-pic" src="../../assets/check.png" alt="error">
                    <p class="amount">2.56 Lac</p>
                </div>
                <div class="btn">
                    <button class="settlement-btn">Offers Honoured</button>
                </div>
            </div>
            <div class="settlement-block third">
                <div class="upper-detail">
                    <img class="settle-pic" src="../../assets/customerp3.png">
                    <p class="amount">98K</p>
                </div>
                <div class="btn">
                    <button class="settlement-btn">Offers Broken</button>
                </div>
            </div>
            <div class="clear"></div>
            <div class="settlement-block fourth">
                <div class="upper-detail">
                    <img class="settle-pic" src="../../assets/undo-button.png">
                    <p class="amount">2.15 Lac</p>
                </div>
                <div class="btn">
                    <button class="settlement-btn">Offers Re-Negotiated</button>
                </div>
            </div>
            <div class="settlement-block fifth">
                <div class="upper-detail">
                    <img class="settle-pic" src="../../assets/awesome-user.png" alt="error">
                    <p class="amount">3.1 Lac</p>
                </div>
                <div class="btn">
                    <button class="settlement-btn">Offers Approved</button>
                </div>
            </div>
            <div class="settlement-block sixth">
                <div class="upper-detail">
                    <img class="settle-pic" src="../../assets/cross.png">
                    <p class="amount">36K</p>
                </div>
                <div class="btn">
                    <button class="settlement-btn">Offer Rejected</button>
                </div>
            </div>
        </div>
    </div>
</div> 